.main-container {
  @include flex();
  .site-main {
    width: 70%;
    background-color: #ffffff;
    word-wrap: break-word;
    @include mq() {
      width: 100%;
    }
  }
  .aside {
    width: 28%;
    @include mq() {
      width: 100%;
    }
  }
}